.header-menu {
  background-color: black;
  height: 66px;
  width: 100%;
  border-bottom: 1px solid rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  color: white;
  width: 60px;
}

.nav-items {
  width: 366px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }
}

.responsive-button {
  display: none;
}

.pi {
  color: white;
  font-size: 1.33rem;
}

.sidebar {
  background-color: rgb(8, 8, 8);

  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(207, 207, 207);
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }
  }
}

@media screen and (max-width: 800px) {
  .logo {
    width: 40px;
  }
  .nav-items {
    display: none;
  }

  .responsive-button {
    display: inline-block;
  }
}
