:root {
  --primary: #f6a70b;
  --secondary: #3c4858;
}

a {
  text-decoration: none;
}

/* Card style */
.card {
  position: relative;
  text-align: left;
  background: rgb(8, 8, 8);
  border: solid 1px rgb(17, 17, 17);
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;

  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .card__body {
    margin: 16px;

    .card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card__title {
        margin: 0;
      }

      .card__actions {
        display: flex;
        gap: 10px;

        .icon {
          font-size: 1.4rem;
          transition: color 0.15s ease-in-out;
          &:hover {
            color: #46c56e;
          }
        }
      }
    }

    .card__description {
      color: rgb(143, 144, 148);
      font-size: 16px;
      line-height: 1.4;
    }

    .card__category {
      margin-top: 5px;
      display: flex;
      gap: 6px;
    }

    .card__tech {
      height: 20px;
      font-size: 0.75rem;
      background-color: #89898990;
      padding: 0 5px;
      border-radius: 5px;
      display: flex;
      width: fit-content;
      align-items: center;

      i {
        margin-right: 5px;
        font-size: 0.75rem;
      }

      img {
        height: 20px;
        color: red;
      }
    }
  }

  hr {
    border-color: rgba(255, 255, 255, 0.16);
  }
}

.p-skeleton {
  background-color: #292932 !important;
}

.p-skeleton:after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(49, 49, 49, 0.4),
    rgba(255, 255, 255, 0)
  ) !important;
}
