.footer-content{
    text-align: center;
    font-size: 0.95rem;
    margin: 20px 0;
    color: rgba(255,255,255,0.92);

    p{
        margin: 3px 0 0;
    }

    .emphasize{
        color:#46c56e;
    }
}